@model IEnumerable<OpenSpaceInvaders.Models.DesksModel>

<div class="card-columns">

    @foreach (var item in Model)
    {
        <div class="card" style="background-color: rgba(255, 255, 255, 0.90)">
            <div class="card-body">
                <h2 class="card-title">
                    @Html.DisplayFor(modelItem => item.Id)
                    <a href="/Booking/Create/@item.Id"> ZAREZERWUJ </a>
                </h2>
                @Html.DisplayFor(modelItem => item.Description)

            </div>
        </div>
    }
</div>