@model OpenSpaceInvaders.Models.BlobModel

@{
    ViewData["Title"] = "Blob";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>BlobModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MediaId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaFileName" class="control-label"></label>
                <input asp-for="MediaFileName" class="form-control" />
                <span asp-validation-for="MediaFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaFileType" class="control-label"></label>
                <input asp-for="MediaFileType" class="form-control" />
                <span asp-validation-for="MediaFileType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaUrl" class="control-label"></label>
                <input asp-for="MediaUrl" class="form-control" />
                <span asp-validation-for="MediaUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeUploaded" class="control-label"></label>
                <input asp-for="DateTimeUploaded" class="form-control" />
                <span asp-validation-for="DateTimeUploaded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
